.login-wrapper {
    background-image: url('../img/bg/login.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .login-div {
        background-color: rgba(0,0,0,.15);
        margin: 9% auto 7% auto;
        padding: 15px 20px;

        .brand {
            padding: 4%;

            .brand-img {
                width: 50%;
                margin: auto;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        .my-form {
            color: white;
            input {
                height: 50px;
            }
            .wc-btn {
                color: white!important;
                border-color: white!important;
            }
        }
    }
    p {
        color: white;
    }
}
